<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>My page</title>
</head>
<body>
<div th:insert="~{header}"></div>

<div>
    <p> <b>Название: </b>
        <span id="name" th:text="${material.name}"></span>
        <br>
        <br>
        <b>Описание: </b>
        <span id="Description" th:text="${material.description}">Description</span>
    </p>
    <p>
        <a sec:authorize="isAuthenticated()" th:href="@{/products-by-material(id=${material.id})}" class="btn btn-info" role="button">Товары из материала</a>
    </p>
</div>
</body>
</html>

